body{
    background-color: rgb(23, 153, 153);
    background-image: url(bg.jpg);
}

#wrapper{
   
    height: 600px;
    position: relative;
    margin: 50px;
    
}
nav{
    border: solid black 2px;
    background-color: rgba(240, 248, 255, 0.301);
    position: relative;
}
img{
    width : 7%;
    float: left;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}
nav ul{
    list-style-type: none;
    text-transform: uppercase;
    position : relative;
    left: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul li{
    display: inline-block;
    margin-right: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 25px;
    padding-bottom: 25px;
    border: solid black 2px;
    border-radius: 15px;
    background-color: rgba(255, 228, 196, 0.432);
}

ul li:hover{
    background-color: rgba(255, 0, 0, 0.747) !important;
    border-bottom: 0px !important;
}
#content{
    position : relative;
    top: 10px;
}

form{
    border : solid rgb(126, 4, 4) 2px;
    margin-top : 5%;
    background-color: rgba(240, 248, 255, 0.301);
}

form select,input{
    width : 350px;
    height : 100px;
    margin : 50px;
    border : solid 2px black;
    border-radius : 25px;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(255, 228, 196, 0.432);
}
